/* Mangora Admin Styles */
.mangora-meta-table th {
    width: 150px;
    padding: 15px 10px;
}

.mangora-meta-table td {
    padding: 10px;
}

.mangora-meta-table input[type="number"],
.mangora-meta-table input[type="text"] {
    width: 100px;
}

.mangora-meta-table input[type="url"].large-text {
    width: 100%;
    max-width: 400px;
}

.mangora-meta-table select {
    min-width: 200px;
}

.mangora-meta-table .description {
    color: #666;
    margin-left: 5px;
}
